@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
:root{
  --background: rgb(18, 17, 19);
  --foreground: hsl(0 0% 75.6863%);
  --card: hsl(0 0% 7.0588%);
  --card-foreground: hsl(0 0% 75.6863%);
  --popover: hsl(270 5.5556% 7.0588%);
  --popover-foreground: hsl(0 0% 75.6863%);
  --primary: hsl(22.2973 75.5102% 61.5686%);
  --primary-foreground: hsl(270 5.5556% 7.0588%);
  --secondary: hsl(180 17.3913% 45.0980%);
  --secondary-foreground: hsl(270 5.5556% 7.0588%);
  --muted: hsl(0 0% 13.3333%);
  --muted-foreground: hsl(0 0% 53.3333%);
  --accent: hsl(0 0% 20%);
  --accent-foreground: hsl(0 0% 75.6863%);
  --destructive: hsl(180 17.3913% 45.0980%);
  --destructive-foreground: hsl(270 5.5556% 7.0588%);
  --border: hsl(0 0% 13.3333%);
  --input: hsl(0 0% 13.3333%);
  --ring: hsl(22.2973 75.5102% 61.5686%);
  --chart-1: hsl(180 17.3913% 45.0980%);
  --chart-2: hsl(22.2973 75.5102% 61.5686%);
  --chart-3: hsl(31.2000 92.5926% 78.8235%);
  --chart-4: hsl(0 0% 53.3333%);
  --chart-5: hsl(0 0% 60%);
  --sidebar: hsl(0 0% 7.0588%);
  --sidebar-foreground: hsl(0 0% 75.6863%);
  --sidebar-primary: hsl(22.2973 75.5102% 61.5686%);
  --sidebar-primary-foreground: hsl(270 5.5556% 7.0588%);
  --sidebar-accent: hsl(0 0% 20%);
  --sidebar-accent-foreground: hsl(0 0% 75.6863%);
  --sidebar-border: hsl(0 0% 13.3333%);
  --sidebar-ring: hsl(22.2973 75.5102% 61.5686%);
  --font-serif: serif;
  --font-bt: "Bungee Tint", sans-serif;
  --font-marker: "Permanent Marker", cursive;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.05;
  --shadow-color: #000000;
  --shadow-2xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 1px 4px 0px hsl(0 0% 0% / 0.13);
}