@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
  --background: rgb(18, 17, 19);
  --foreground: hsl(0 0% 75.6863%);
  --card: hsl(0 0% 7.0588%);
  --card-foreground: hsl(0 0% 75.6863%);
  --popover: hsl(270 5.5556% 7.0588%);
  --popover-foreground: hsl(0 0% 75.6863%);
  --primary: hsl(22.2973 75.5102% 61.5686%);
  --primary-foreground: hsl(270 5.5556% 7.0588%);
  --secondary: hsl(180 17.3913% 45.0980%);
  --secondary-foreground: hsl(270 5.5556% 7.0588%);
  --muted: hsl(0 0% 13.3333%);
  --muted-foreground: hsl(0 0% 53.3333%);
  --accent: hsl(0 0% 20%);
  --accent-foreground: hsl(0 0% 75.6863%);
  --destructive: hsl(180 17.3913% 45.0980%);
  --destructive-foreground: hsl(270 5.5556% 7.0588%);
  --border: hsl(0 0% 13.3333%);
  --input: hsl(0 0% 13.3333%);
  --ring: hsl(22.2973 75.5102% 61.5686%);
  --chart-1: hsl(180 17.3913% 45.0980%);
  --chart-2: hsl(22.2973 75.5102% 61.5686%);
  --chart-3: hsl(31.2000 92.5926% 78.8235%);
  --chart-4: hsl(0 0% 53.3333%);
  --chart-5: hsl(0 0% 60%);
  --sidebar: hsl(0 0% 7.0588%);
  --sidebar-foreground: hsl(0 0% 75.6863%);
  --sidebar-primary: hsl(22.2973 75.5102% 61.5686%);
  --sidebar-primary-foreground: hsl(270 5.5556% 7.0588%);
  --sidebar-accent: hsl(0 0% 20%);
  --sidebar-accent-foreground: hsl(0 0% 75.6863%);
  --sidebar-border: hsl(0 0% 13.3333%);
  --sidebar-ring: hsl(22.2973 75.5102% 61.5686%);
  --font-serif: serif;
  --font-bt: "Bungee Tint", sans-serif;
  --font-marker: "Permanent Marker", cursive;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.05;
  --shadow-color: #000000;
  --shadow-2xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 1px 4px 0px hsl(0 0% 0% / 0.13);
}



* {
  margin: 0;
}


body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}


body {
  font-family: var(--font-marker);
  min-height: 100dvh;
  background: var(--foreground);
  position: relative;
}

body::-webkit-scrollbar {
  display: none;
}


.logo {
  font-size: clamp(1rem, 10vw, 6rem);
  font-family: var(--font-bt);
  text-align: center;
}

/* game menu */
.game-menu {
  margin-top: 25vh;
  left: 50%;
  translate: -50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    font-size: xx-large;
    color: var(--accent);
    background: var(--primary);
    border-radius: 4px;
    box-shadow: 2px 2px var(--border);
    scale: 1;
    transition: all 100ms linear;
    padding: 5px 2rem;
  }

  button:active {
    box-shadow: 5px 5px var(--border);
    scale: 0.95;

  }
}


/* game */
.players-scores {
  margin: auto;
  display: flex;
  width: 45vw;
  justify-content: space-between;
  color: var(--card-foreground);

  div {
    background-color: var(--muted);
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 5px;

    svg {
      margin-top: 5px;
      width: 1.5rem;
      height: 1.5rem;

      &>* {
        stroke-width: 1rem;
      }
    }

    .player {
      display: flex;
      align-items: center;
    }

    .score {
      font-size: 1rem;
    }

  }



}

.cell-container {
  width: 25vw;
  height: 25vw;
  border: 2px solid var(--border);
  border-radius: 12px;
  margin: 1rem auto;
  display: grid;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: var(--card);
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);

  .cell {
    transition: all 100ms ease;
    border: 1px solid var(--muted);
    border-radius: 12px;
    background-color: var(--secondary);
    width: 100%;
    height: 100%;
    position: relative;
  }

  .cell:hover {
    opacity: 0.8;
  }

  .cell[data-mark="O"] {
    background-image: url('./circle.svg');
    background-position: center;
    background-size: cover;
  }

  .cell[data-mark="X"] {
    background-image: url('./cross.svg');
    background-position: center;
    background-size: cover;

  }
}

/* game score */
.result-modal {
  will-change: scale;
  position: fixed;
  inset: 0;
  z-index: 10;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
  box-shadow: 5px 5px var(--card);
  background: var(--card-foreground);
  padding: 2rem 4rem;

  button {
    margin: auto;
    width: fit-content;
    font-family: var(--font-bt);
    font-size: x-large;
    border: 1px solid var(--border);
    background-color: var(--card);
  }

  .buttons {
    display: flex;
    gap: 1rem;
  }

  .winner-label {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-family: var(--font-marker);
    font-size: xx-large;
  }
  .winner[data-mark="O"] {
    background-image: url("./circle.svg");
  }

  .winner[data-mark="X"] {
    background-image: url("./cross.svg");
  }
  .winner {
    margin-top: 5px;
    width: 2rem;
    height: 2rem;
    background-size: cover;
    background-repeat: no-repeat;
  }
}